@import './base.css';

@font-face {
  font-family: 'main_font';
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

body {
  font-family: main_font,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  letter-spacing: .015em;
  line-height: 1.5em;
  text-transform: none;
  color: #fff;
}

#app {
  /*todo might break layout in the future, disable flex*/
  display: flex;
  flex-flow: column;
  position: relative;
  max-width: 1280px;
  /*min-width: 500px;*/
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  font-weight: normal;
  min-height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

